* {
    font-family: 'Mulish';
    user-select: none;
}

.wrapper {
    background-color: #ffffff;
    padding: 1rem;
    padding-bottom: 1rem;
    height: calc(100% + 1.5rem);
    margin-top: -0.8rem;
    width: calc(100% + 1.5rem);
    margin-left: -0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 0;
}

.search-input {
    width: 100%;
    gap: 16px;
}

.search-input .slds-input {
    padding-top: 6px;
    padding-bottom: 6px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 9px 15px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border: none;
    background: #0176D3;
    color: white;
    border-radius: 5px;
}

.btn svg {
    width: 16px;
    height: 16px;
}

.table-content {
    overflow: auto;
    border-radius: 8px;
    height: 100%;
    background-color: white;
    margin: 16px;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #0170d27d transparent;
}

.table-content .slds-table th,
.table-content .slds-table td {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #585858;
}

.table-content .slds-table th {
    background-color: #0176D3;
    color: white;
    padding: 0.6rem;
    height: 45px;
}

.table-content .slds-table td {
    height: 45px;
}

.table-content .slds-table .sno,
.table-content .slds-table .contact-name,
.table-content .slds-table .contact-email,
.table-content .slds-table .email-name,
.table-content .slds-table .send-time,
.table-content .slds-table .status {
    width: auto;
}

.no-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.no-data-message {
    color: #3a9bea;
    font-size: 25px;
    font-weight: 500;
    margin-top: 0.85rem;
    text-align: center;
}

.pagination-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    padding-bottom: 1rem;
}

.pagination-button {
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    color: #333;
    padding: 6px 12px;
    margin: 0 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0.3rem;
    font-size: 12px;
    font-weight: 400;
}

.pagination-button svg {
    fill: black;
    width: 0.7rem;
    height: 0.7rem;
}

.pagination-button:hover {
    background-color: #f0f0f0;
}

.pagination-button.active {
    background-color: #0070d2;
    color: white;
    border-color: #0070d2;
}

.pagination-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

span {
    margin: 0 5px;
}

.pagination-button:first-child,
.pagination-button:last-child {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.table-content tbody tr:nth-child(odd) {
    background-color: aliceblue;
}

.table-content table thead tr {
    position: sticky;
    top: 0;
    z-index: 98;
}

.main_header_cls {
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-image: url('/resource/MVEX__newImageandMediaBg/');
}

.details_cls {
    padding: 0 42px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #636363;
}

.sub_main_header_css {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_block_css {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 24px;
    font-weight: 500;
    line-height: 40.16px;
    text-align: left;
    gap: 15px;
    color: #131314;
}

.svg_back_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main_content_cls {
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background-image: url('/resource/MVEX__newImageandMediaBg/');
}

.truncate_css {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 1px;
}

.truncate_css div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter-btn {
    border: 1px solid #0176D3;
    background-color: #ffffff;
    color: #0176D3;
    border-radius: 4px;
    height: 2rem;
    padding: 16px 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}

.filter-btn-container {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1rem;
}

.filter-modal .slds-modal__header {
    border-bottom: none;
    --sds-c-modal-radius-border: 6px;
    background: #0176D3;
    color: white;
}

.filter-modal-close {
    position: absolute;
    top: 1rem;
    right: 0.7rem;
}

.filter-dates {
    margin-top: 10px;
    display: flex;
    width: 100%;
    gap: 5%;
}

.filter-created-date {
    width: 50%;
}

.filter-end-date {
    width: 50%;
}

.filter-modal .slds-modal__footer {
    background-color: white;
    border: none;
    --sds-c-modal-radius-border: 1.5rem;
}

.filter-modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 24px;
}

.filter-body {
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    background-image: url('/resource/MVEX__newImageandMediaBg/');

}

.pending-class {
    background-color: #fff0d3;
    color: orange;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin: 0 10%;
    padding: 4px 0px;
    border-radius: 14px;
}

.completed-class {
    background-color: #e1fcef;
    color: green;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin: 0 10%;
    padding: 4px 0px;
    border-radius: 14px;
}

.failed-class {
    background-color: #fce1e1;
    color: red;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin: 0 10%;
    padding: 4px 0px;
    border-radius: 14px;
}

.status_cls {
    min-width: 7rem;
}

.table-content table tbody tr:hover td {
    background-color: #ebf3f6 !important;
    border: none;
}

.closs_icon_css {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: -2rem;
    bottom: 0rem;
    background: transparent;
}

.blue-header {
    background-color: #0176D3;
    color: white;
    border-bottom-style: unset;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.cancel_btn_css {
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    padding: 0px 20px;
    background: #FFFFFF;
    border: 1px solid #0176D3;
    color: #0176D3;
    border-radius: 5px;
}

.save_btn_css {
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    border: 1px solid #0176D3;
    padding: 0px 20px;
    background: #0176D3;
    color: white;
    border-radius: 5px;
}

@media only screen and (max-width: 900px) {
    .wrapper {
        width: 100% !important;
        height: 100% !important;
        margin-left: unset !important;
        margin-top: unset !important;
    }
}

.edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 9px 15px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border: none;
    background: #0176D3;
    color: white;
    border-radius: 5px;
}