* {
    font-family: 'Mulish';
    user-select: none;
}

.combobox-cover {
    border: 1px solid #D3D3D3;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px 0px #0000001F;
    border-radius: 8px;
    color: #323232;
    width: 70%;
    padding: 16px;
    resize: none;
    cursor: pointer;
}

.combobox-input {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    color: #000;
    cursor: pointer;
}

.combobox-input[data-id="Select the priority"] {
    color: #9f9f9f;
}

.option-body {
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    color: #000;
    width: 100%;
    padding: 0.7rem;
    border-radius: 4px;
}

.option-body[data-id="Select the priority"] {
    color: #9F9F9F;
}

.options-value .option-body:first-child {
    margin-top: 1rem;
}

.option-body:hover {
    background-color: #0176D3;
    color: #FFFFFF;
}

.name-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.name-field input,
textarea {
    border: 1px solid #D3D3D3;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px 0px #0000001F;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #323232;
    width: 70%;
    padding: 16px;
    resize: none;
}

.modal-header-main {
    width: 70%;
    margin-bottom: 20px;
}

.name-field input,
textarea:focus {
    outline: none;
}

.name-field .error-message {
    font-size: 13px;
    color: red;
    position: absolute;
    bottom: -1.2rem;
    width: 70%;
    text-align: left;
}

.content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-left: 4rem;
}

.supportcls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 5rem; */
    overflow: hidden;
    width: 50%;
}

.button {
    display: flex;
    /* bottom: 0.5rem; */
    justify-content: flex-start;
    gap: 1rem;
    cursor: pointer;
    user-select: none;
    width: 100%;
    padding-left: 4rem;
}

.btn-div {
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    border: 1px solid #0176D3;
    padding: 0px 20px;
    background: #0176D3;
    color: white;
    border-radius: 5px;
}

.close-btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    padding: 0px 50px;
    background: #FFFFFF;
    border: 1px solid #0176D3;
    color: #0176D3;
    border-radius: 5px;
}

::placeholder {
    color: #9F9F9F;
}

.imgcontainerdiv {
    display: flex;
    padding-top: 50px;
}

.helptxt {
    padding-top: 10px;
}

.getintouchtxt {
    font-size: 32px;
    color: #0176D3;
    /* padding-top: 20px; */
    font-weight: 500;
}

.contactustxt {
    font-size: 22px;

}

.contact-image {
    width: auto;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

.main-cover {
    width: calc(100% + 1.5rem);
    display: flex;
    flex-direction: column;
    margin-left: -0.75rem;
    margin-top: -0.75rem;
    height: calc(100% + 1.5rem);
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    background-image: url('/resource/MVEX__newImageandMediaBg/');
}

.outer-cover {
    overflow: auto;
    padding: 16px;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    background-image: url('/resource/MVEX__newImageandMediaBg/'); */
}

.maindiv {
    display: flex;
    width: 100%;
    border-radius: 8px;
}

.contact-imagedesktop {
    width: 50%;
    padding-top: 5rem;
}

.contact-imagedesktop img {
    width: 70%;
    height: max-content;
}

.attachment-div {
    height: fit-content;
    margin-bottom: 1.5rem;
    width: 70%;
}

.attachment-div::-webkit-scrollbar {
    width: 0.3rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px #b7a7a7;
    margin-top: 0.5rem;
    border-radius: 0.3rem;
    width: inherit;
}

.box1 {
    width: 84%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box1 p {
    white-space: nowrap;
    width: 9rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.removeImage {
    border-radius: 50%;
    height: 1.2rem;
    width: 1.2rem;
    display: flex;
    margin: 8px 2px 8px 8px;
    color: #fff;
    background-color: rgb(1 118 211);
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.removeImage svg {
    fill: white;
    /* height: 1rem;
     width: 1rem; */
}

.removeImage p {
    margin-bottom: 3px;
}

/* header-css */

.main_header_cls {
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header_block_css {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    /* font-size: 24px;
    font-weight: 500;
    line-height: 40.16px;
    text-align: left; */
    gap: 15px;
    color: #131314;
    position: relative;
}

.svg_back_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: -45px;
}

.details_cls {
    padding: 0 42px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #636363;
}

.details_cls a {
    color: #0176D3;
}

@media only screen and (max-width: 767px) {
    .contact-imagedesktop {
        display: none;
    }

    .supportcls {
        width: 100%;
    }

    .imgcontainerdiv {
        display: none;
    }

    .modal-header-main {
        display: flex;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .contact-imagedesktop {
        display: none;
    }

    .supportcls {
        width: 100%;
    }

    .modal-header-main {
        display: flex;
    }

    .contact-image {
        display: none;
    }
}

@media only screen and (min-width: 1025px) {
    .contact-image {
        display: none;
    }

    .contact-imagemob {
        display: none;
    }
}