* {
    font-family: 'Mulish';
    user-select: none;
}

.main-card {
    min-height: 100%;
}

.filter-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
    /* background-color: #E1F1FE; */
    border-radius: 8px;
}

.search-bar lightning-input {
    width: 300px;
}

button:disabled {
    background-color: #b2aeae;
}


.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 4px;
}

.no-prop {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: 'DM Sans';
}

.data-table-container {
    margin-top: 12px;
    max-width: 100%;
    overflow: auto;
    border-radius: 8px;
}


.custom-data-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    font-size: 14px;
}

.header-cell {
    padding: 10px;
    background-color: #0176D3;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}

.custom-data-table td {
    padding: 10px;
    text-align: center;
}

.custom-data-table tr:nth-child(odd) {
    background-color: aliceblue;
}

.view-more-button {
    background-color: #0070d2;
    color: #fff;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.view-more-button:hover {
    background-color: #005fb2;
}

.custom-data-table tr:last-child td {
    border-bottom: none;
}

.edit-btn {
    background-color: #0176D3;
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    padding: 5px 16px;
}

.edit-btn:disabled {
    background-color: #737D8C;
    cursor: not-allowed;
}

.name-header {
    width: 8.5%;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
}

.empty-body {
    width: 100%;
    text-align: center;
}

.filter-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* .slds-modal{
    position: absolute;
} */

.slds-modal__header {
    background-color: #0070D2;
    color: white;
}

/* 
.slds-modal__header .slds-modal__close{
    top: -2.2rem;
    right: -1.5rem;
    margin-left: 0;
    bottom: 0;
} */


.filter-modal .slds-modal__content {
    min-height: 15rem;
    max-height: 16rem;
}

/* 
.filter-modal .slds-modal__container {
    position: absolute;
    right: 14rem;
    top: 3rem;
} */

/* .filter-modal-child .slds-modal__container {
    position: absolute;
    top: 15rem;
    left: 18rem;
    
} */

.filter-modal-child .slds-modal__content {
    min-height: 15rem;
    max-height: 16rem;
}

.mapping-item-active {
    padding: 0.4rem;
    border: 1px solid black;
    margin-bottom: 1rem;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    --lwc-squareIconSmallBoundary: 1rem;
    line-height: 1.6rem;
    border-radius: 8px;
}

.mapping-item-active:hover {
    background-color: #b3ddff;
    color: black;
}

.delete-div{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.parent-div{
    position: relative;
}

.selected {
    background-color: #9bacbb;
    color: white;
}

.mapping-item-inactive {
    padding: 0.4rem;
    border: 1px solid black;
    margin-bottom: 1rem;
    display: flex;
    --lwc-squareIconSmallBoundary: 1rem;
    line-height: 1.6rem;
    border-radius: 8px;
    background: rgb(201 201 201);
    pointer-events: none;
}

.mapping-id {
    font-weight: 500;
    margin-right: 10px;
}

.mapping-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
}

.slds-form_element {
    margin-bottom: 1rem;
}

.slds-modal__footer {
    display: flex;
    justify-content: center;
    background: white;
    border: none;
}

.search-bar-input .slds-input {
    height: 36px;
}

.btn {
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 8px;
    background-color: #0176D3;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    height: 32px;
    cursor: pointer;
}

.custom__footer {
    display: flex;
    gap: 12px;
}

.modal-btn-blue {
    padding: 0px 12px;
}

/* .modal-btn-blue:hover{
    padding: 0px 12px;
} */

.modal-btn-white {
    padding: 0px 12px;
    background-color: white;
    border: 1px solid #0176D3;
    color: #0176D3;
}

.btn:not(:disabled):hover {
    background-color: #0066b9;
    color: white;
}


.pagination-button {
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    color: #333;
    padding: 6px 12px;
    margin: 0 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0.3rem;
    font-size: 12px;
}

.pagination-button svg {
    fill: black;
    width: 0.7rem;
    height: 0.7rem;
}

.pagination-button:hover {
    background-color: #f0f0f0;
}

.pagination-button.active {
    background-color: #0070d2;
    color: white;
    border-color: #0070d2;
}

.pagination-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.results-info {
    margin-left: 15px;
    color: #666;
}

.results-per-page {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.results-per-page label {
    margin-right: 8px;
    color: #666;
}

.results-per-page select {
    padding: 4px 8px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
}

/* Style for the ellipsis */
span {
    margin: 0 5px;
}

/* Specific styles for Back and Next buttons */
.pagination-button:first-child,
.pagination-button:last-child {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.open-mapping-div {
    position: relative;
}

.filter-div {
    width: 18rem;
    height: 25rem;
    position: absolute;
    right: 0;
    top: 120%;
    z-index: 10;
    border-radius: 8px;
    background-color: aliceblue;
    background-image: url('/resource/MVEX__newImageandMediaBg');
    background-position: bottom;
    box-shadow: 0px 0px 10px 0px #00000040;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.required-class {
    color: red;
}

.filter-div .filter-fields {
    height: 100%;
    flex-grow: 1;
    overflow: auto;
    padding: 16px 16px 0px 16px;
}

.filter-div .delete-div {
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
}

.filter-header {
    font-size: 16px;
    color: #0176D3;
    text-align: center;
    font-weight: 500;
}

.filter-div .delete-div :hover {
    border: 1px solid #0176D3;
    border-radius: 4px;
}

.filter-div .filter-footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0px 16px 16px 16px;
}

.filter-div .filter-footer .custtom__footer {
    display: flex;
    gap: 12px;
}

.filter-div .add-condtion {
    position: relative;
}

.condition-div {
    position: absolute;
    left: -112%;
    bottom: 0;
    /* background: white; */
    padding: 1rem;
    width: 100%;
    background-color: aliceblue;
    background-image: url('/resource/MVEX__newImageandMediaBg');
    background-position: bottom;
    box-shadow: 0px 0px 10px 0px #00000040;
    border-radius: 8px;
    background-color: white;
}

.condition-div .condition-div-footer {
    justify-content: space-between;
    display: flex;
}

.condition-div .arrow {
    width: 10px;
    height: 12px;
    position: absolute;
    bottom: 10px;
    right: -4px;
    rotate: 45deg;
    background: #F3F9F9;
}

.custtom__footer {
    display: flex;
    gap: 8px
}

/* Modal css */

.input-box {
    margin-bottom: 1rem;
    --lwc-fontWeightBold: 500;
}

.blue-header {
    background-color: #0176D3;
    color: white;
    border-bottom-style: unset;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.cancel_btn_css {
    font-size: 1rem;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    padding: 0px 20px;
    background: #FFFFFF;
    border: 1px solid #0176D3;
    color: #0176D3;
    border-radius: 5px;
}

.save_btn_css {
    font-size: 1rem;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    border: 1px solid #0176D3;
    padding: 0px 20px;
    background: #0176D3;
    color: white;
    border-radius: 5px;
}

.footer-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.custom-modal-content {
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    background-image: url('/resource/MVEX__newImageandMediaBg');
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

.red {
    color: red;
}


.total-records {
    font-size: 1rem;
}


.dotted-border {
    border: 1px dashed black;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


.content-body {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 0px 2px 0px, rgba(60, 64, 67, 0.15) 0px 0px 6px 2px;
    background-color: white;
    padding: 1rem;
    transition: margin-left 0.3s ease;
    overflow: auto;
    border-radius: 6px;
    height: calc(100% - 4rem);
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #0170d27d transparent;
}


.template-body-header {
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: 500;
}

.btn-container {
    display: flex;
    gap: 1rem;
}

.modal-body{
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    background-image: url('/resource/MVEX__newImageandMediaBg');
    border-radius: 0px 0px 8px 8px;
}

.custom-modal-body {
    display: flex;
    min-height: 400px;
    width: 100%;
    padding: 12px;
    overflow: auto;
    scrollbar-width: none;
    max-height: 400px;
    position: relative;
}

.modal-btn-white:hover {
    background-color: rgb(240, 240, 240);
    border: 1px solid #0176D3;
    color: #0176D3;
}

.colume1 {
    width: 3.25rem
}

/* Hide the default checkbox */
.custom-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

/* Create a custom checkbox */
.custom-checkbox .checkmark {
    width: 1.1rem;
    height: 1.1rem;
    background-color: transparent;
    border: 2px solid white;
    display: inline-block;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s;
}

.custom-checkbox-body .checkmark {
    border: 2px solid #0376D3;
    transition: 0.3s;
}

/* When the checkbox is checked, apply styles */
.custom-checkbox input[type="checkbox"]:checked+.checkmark {
    background-color: #0376D3;
    /* Blue background when checked */
    border-color: white;
    /* Ensure border stays white */
    transition: 0.3s;
}

.custom-checkbox-body input[type="checkbox"]:checked+.checkmark {
    border-color: #0376D3;
    /* Ensure border stays white */
    transition: 0.3s;
}

/* Add a white checkmark (before pseudo-element) */
.custom-checkbox .checkmark::before {
    content: '';
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    width: 40%;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-42%, -61%) rotate(45deg);
}

/* Show the checkmark when the checkbox is checked */
.custom-checkbox input[type="checkbox"]:checked+.checkmark::before {
    display: block;
}

.closs_icon_css {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: -2rem;
    bottom: 0rem;
    background: transparent;
}

.blue-header {
    background-color: #0176D3;
    color: white;
    border-bottom-style: unset;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.cancel_btn_css {
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    padding: 0px 20px;
    background: #FFFFFF;
    border: 1px solid #0176D3;
    color: #0176D3;
    border-radius: 5px;
}

.save_btn_css {
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    border: 1px solid #0176D3;
    padding: 0px 20px;
    background: #0176D3;
    color: white;
    border-radius: 5px;
}

.save_btn_css:disabled {
    background: #c9c9c9;
    border: 1px solid #c9c9c9;
}



@media only screen and (max-width: 900px) {
    .filter-section {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .search-bar {
        width: 100%;
    }

    .search-bar lightning-input {
        width: 100%;
    }

    .header-actions {
        display: flex;
        gap: 16px;
        width: 100%;
        justify-content: space-between;
    }

    .open-mapping-div {
        margin-top: 10px;
        justify-content: end;
        display: flex;
    }

    .condition-div {
        left: 112%;
    }

    .arrow {
        left: -4px;
    }
}

@media only screen and (max-width: 600px) {
    .filter-section {
        flex-direction: column;
        gap: 1rem;
    }
}

.generate_iframe {
    position: absolute;
    z-index: -999999;
    visibility: hidden;
  }

.bcTableDiv{
    border-radius: 0px;
    width: 60%;
}

.bcTableDiv .slds-table_resizable-cols thead th,
.slds-table--resizable-cols thead th {
    height: 30px;
}

.bcTableDiv .colume1 {
    width: 2rem;
}

.bcTableDiv .checkbox-cell{
    margin: 0px 14px;
}

.rightDivBc{
    width: 38%;
    padding: 1.5rem;
    margin: 0.5rem;
    background: #00a6ff21;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    right: 0px;
}

.rightDivBc .headerDivBc{
    font-size: 1.2rem;
    margin: 1rem;
    text-align: center;
}

.rightDivBc .rightDivBc-body{
    padding: 1rem;
}

.rightDivBc .footer {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.secondPage{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.lastPage{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 14px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border: none;
    background: #0176D3;
    color: white;
    border-radius: 5px;
}

.center-trancate-text {
    text-align: center;
    /* font-size: 12px; */
    color: #585858;
}

.center-trancate-head {
    display: flex;
    justify-content: center;
    text-align: center;
    /* font-size: 12px; */
    font-weight: 500;
}

.preview-container {
    background-color: #dcf8c6; /* WhatsApp background-like color */
    border-radius: 8px;
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
}

.popUpBody{
    flex-grow: 1;
    margin-bottom: 0.5rem;
}

.inner-body-grid{
    height: 100%;
}

.no-text{
    font-size: large;
    color: #0076d3;
}

.right-section-preview{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #cabcbf;
    padding-bottom: 0.5rem;
}