* {
    font-family: 'Mulish';
    user-select: none;
}

.filter-dropdown{
    padding-left: 0.5rem;
}

.filterparent{
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 0 1rem;
}

.filterdiv{
    display: flex;
    gap: 2%;
    width: -webkit-fill-available;
}

.create-disabled{
    background-color: rgb(229 229 229 / 78%);
    pointer-events: none;
    color: grey;
}

.create-disabled .left-icon{
    --sds-c-icon-color-foreground-default: grey;
}

.main{
    background-color: #ffffff;
    padding: 1rem;
    padding-bottom: 1rem;
    height: calc(100% + 1.5rem);
    margin-top: -0.8rem;
    width: calc(100% + 1.5rem);
    margin-left: -0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}

.txt{
    font-size: x-large;
    font-weight: 500;
}

.trash{
    padding: 0.37rem;
}

.left-icon {
    border: 1px solid;
    border-radius: 50%;
    padding: 0.2rem;
    transform: scale(0.6);
}

.Draft{
    background-color: #f5c9c9;
    color: #e43333;
    width: fit-content;
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin: auto;
}

.Published{
    background-color: #08930138;
    color: #089301;
    width: fit-content;
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin: auto;
}

.Deprecated{
    background-color: #dedfdf;
    color: #000000;
    width: fit-content;
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin: auto;
}

.preview-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
}

.flow-preview{
    padding: 0;
    border-radius: 8px !important;
    width: 60rem;
    background-image: url('/resource/MVEX__newImageandMediaBg');
    width: 100%;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    scrollbar-width: thin;
}

.preview-heading{
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    font-weight: 500;
    color: white;
    padding: 0.4rem;
    background: #0176D3;
}

.previewContainer{
    justify-content: center;
    padding: 10px;
    margin: auto;
}

.close-btn{
    border-radius: 4px;
    background: #FFFFFF;
    color: #0176D3;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #0176D3;
    width: 75px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer{
    position: sticky;
    bottom: 0;
    justify-content: center;
    width: 100%;
    z-index: 99;
    background: white;
}

.publish-btn{
    width: 120px;
    height: 41px;
    background: white;
    border-radius: 4px;
    border: 1px solid darkgrey;
    justify-content: center;
    font-size: 14px;
    color: black;
}

.flowIframe{
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.19);
    border: none;
    height: 100svh;
    /* scale: 0.95; */
}



/* Backdrop covers the entire component */
.license-error {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Dark overlay */
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Centered popup */
.popup-container {
    background: #b71c1c; /* Dark red for warning */
    color: white;
    padding: 24px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    text-align: center;
    font-family: Arial, sans-serif;
    animation: fadeIn 0.5s ease-in-out;
}

/* Styling for title */
.popup-content h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Styling for message */
.popup-content p {
    font-size: 16px;
    margin: 0;
}

.action-buttons {
    background: transparent;
    border: none;
    cursor: pointer;
}

.tablebtns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    max-width: 100%;
}

.Actionbtn {
    margin-right: 3%;
}

.action{
    width: 27px;
    color: black;
    border: 1px solid #dfdddd;
    /* background: white; */
    padding: 0.27rem;
    border-radius: 3px;
    cursor: pointer;
}

.trash{
    padding: 0.37rem;
}

.edit{

    padding: 0.2rem;
}

.pagination-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    padding-bottom: 10px;
}

.pagination-button {
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    color: #333;
    padding: 6px 12px;
    margin: 0 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0.3rem;
    font-size: 12px;
}

.pagination-button svg {
    fill: black;
    width: 0.7rem;
    height: 0.7rem;
}

.pagination-button:hover {
    background-color: #f0f0f0;
}

.pagination-button.active {
    background-color: #0070d2;
    color: white;
    border-color: #0070d2;
}

.pagination-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

span {
    margin: 0 5px;
}

.pagination-button:first-child,
.pagination-button:last-child {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}



.empty-state {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-records-message {
    height: 100%;
}

.empty-state__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.empty-state__content .empty-state__icon {
    width: 25%;
    height: 100%;
}

.empty-state__content .empty-state__message {
    color: #3a9bea;
    font-size: 25px;
    font-weight: 500;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.search-container {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 5px;
    padding: 4px;
    width: 320px;
    height: 35px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.18);
}

.custom-status-select{
    display: flex;
    align-items: center;
    background: white;
    border-radius: 5px;
    padding: 4px;
    width: 220px;
    height: 35px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.18);

}

.search-container input.slds-input  {
    border: none;
    box-shadow: none;
    width: 100%;
    outline: none;
}

.filter{
    border: none;
    box-shadow: none;
    width: 100%;
    outline: none;
}

.search-icon {
    padding: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_header_cls {
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-image: url('/resource/MVEX__newImageandMediaBg/');
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.details_cls {
    padding: 0 42px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #636363;
}

.sub_main_header_css {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_block_css {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 24px;
    font-weight: 500;
    line-height: 40.16px;
    text-align: left;
    gap: 15px;
    color: #131314;
}

.svg_back_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.main_content_cls {
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    background-image: url('/resource/MVEX__newImageandMediaBg/');
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 10px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border: none;
    background: #0176D3;
    color: white;
    border-radius: 5px;
    min-width: max-content;
}

.btn svg {
    width: 16px;
    height: 16px;
}

.table-content {
    overflow: auto;
    border-radius: 8px;
    height: 100%;
    background-color: white;
    margin: 16px;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #0170d27d transparent;
}

.table-content .slds-table th,
.table-content .slds-table td {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #585858;
    height: 45px;
}

.table-content .slds-table th {
    background-color: #0176D3;
    color: white;
}

.table-content tbody tr:nth-child(odd) {
    background-color: aliceblue;
}

.table-content table thead tr {
    position: sticky;
    top: 0;
    z-index: 98;
}

.table-content table tbody tr:hover td {
    background-color: #ebf3f6 !important;
    border: none;
}

.table-content .slds-table_resizable-cols thead th,
.table-content .slds-table--resizable-cols thead th {
    padding: 0;
    background: #0376D3;
    color: white;
    font-size: 14px;
    height: 45px;
}

.truncate_css {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 1px;
}

.truncate_css div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.action-btn {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.delete-div {
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

.delete-div:hover svg {
    fill: #ff0707a8;
}

.delete-div:hover svg path {
    fill: #ff0707a8;
}

.action-div {
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

.action-div:hover svg {
    fill: #0176d3;
}

.action-div:hover svg path {
    fill: #0176d3;
}

.table-content .sno {
    width: 5%;
}

.table-content .flowname,
.table-content .flowid,
.table-content .lastupdated {
    width: 25%;
}

.table-content .actions,
.table-content .status {
    width: 10%;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 0;
}

.search-input {
    flex-grow: 1;
    --sds-c-input-radius-border: 4px;
    width: 60%;
}

.status-select {
    flex-grow: 1;
    --sds-c-select-radius-border: 4px;
    width: 40%;
}

.closs_icon_css {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: -2rem;
    bottom: 0rem;
    background: transparent;
}

.blue-header {
    background-color: #0176D3;
    color: white;
    border-bottom-style: unset;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    position: sticky;
    top: 0;
    z-index: 10;
}