* {
    font-family: 'Mulish';
    user-select: none;
}

.smi_container {
    background-color: #ffffff;
    height: calc(100% + 1.5rem);
    margin-top: -0.8rem;
    width: calc(100% + 1.5rem);
    margin-left: -0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.main_container {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 1rem;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    background-image: url('/resource/MVEX__newImageandMediaBg');
    border-radius: 8px;
}

.sidebar {
    width: 20%;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #0176D3;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar ul li img {
    margin-right: 10px;
    height: 35px;
    width: 35px;
}

.sidebar ul li.active {
    background: #eef6f9;
    border-radius: 8px;
}

.content {
    width: 80%;
    padding: 16px;
    background: white;
    border-radius: 8px;
    border: 1px solid #0176D3;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.header h2 {
    margin: 0;
}

.header button {
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    padding: 0px 20px;
    border-radius: 5px;
    border: 1px solid #0176D3;
}

.save-btn {
    background: #0176D3;
    color: white;
}

.deactivate-btn {
    background: #FFFFFF;
    color: #0176D3;
}

.edit-btn {
    background: #0176D3;
    border: none;
    color: white;
}

.field-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

.field-section .data_cls {
    display: flex;
    gap: 16px;
    width: 100%;
}

.field-section .data_cls strong{
    width: 20%;
    font-weight: 500;
}

.field-section .data_cls p{
    width: 80%;
    text-wrap: wrap;
    word-break: break-all;
}

.red {
    color: red;
}

.sub_main_header_css {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main_header_cls {
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-image: url('/resource/MVEX__newImageandMediaBg');
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.details_cls {
    padding: 0 42px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #636363;
}

.header_block_css {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 24px;
    font-weight: 500;
    line-height: 40.16px;
    text-align: left;
    gap: 15px;
    color: #131314;
}

.svg_back_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.empty-state {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-state__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.empty-state__content .empty-state__icon {
    width: 25%;
    height: 100%;
}

.empty-state__content .empty-state__message {
    color: #3a9bea;
    font-size: 25px;
    font-weight: 500;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.tab-content {
    height: 100%;
}

.toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0176D3;
    border-radius: 4px;
    background: transparent;
    height: 1.5rem;
    margin-left: 10px;
}

.main_scret_cls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 1050px) {
    .sidebar {
        width: 30% !important;
    }

    .content {
        width: 70% !important;
    }

    .smi_container {
        width: 100% !important;
        height: 100% !important;
        margin-left: unset !important;
        margin-top: unset !important;
    }

    .header_block_css {
        font-size: 20px !important;
    }

    .header button {
        font-size: 14px !important;
        padding: 0px 10px !important;
    }
}