* {
    font-family: 'Mulish';
    user-select: none;
}

.filter-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    background-color:#0376D3 ;
}

.header-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    align-items: center;
}

.filter-header .filter-text{
    margin-left: 1rem;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

/* .filter-header .reset-text{
    margin-right: 0.3rem;
    color: white;
    font-size: 14px;
    cursor: pointer;
    padding: 0.4rem;
    background: #0376D3;
    font-weight: 500;
} */

.filter-header .reset-text{
    margin-right: 0.3rem;
    color: #060606;
    font-size: 13px;
    cursor: pointer;
    padding: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    background: #f0f3f6;
    border-radius: 5px;
}

.filter-outer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.filter-content {
    flex: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #0170d27d transparent;
    padding-right: 0.3rem;
} 

/* .filter-header .reset-text{
    margin-right: 0.3rem;
    color: white;
    font-size: 14px;
    cursor: pointer;
    padding: 0.4rem;
    background: #0376D3;
    font-weight: 500;
} */

.filter-header .reset-text{
    margin-right: 0.3rem;
    color: #060606;
    font-size: 13px;
    cursor: pointer;
    padding: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    background: #f0f3f6;
    border-radius: 5px;
}

.filter-outer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.filter-content {
    flex: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #0170d27d transparent;
    padding-right: 0.3rem;
}

.combobox{
    margin: 8px;
    position: relative;
}

.combobox .custom-field-lable{
    font-size: 12px;
    margin-right: 0.6rem;
    font-weight: 500;
}

.combobox .combox-div{
    display: flex;
}

.combobox .combox-div .min-max-label{
    width: 3rem;
    margin-top: 0.3rem;
}

.combobox .combobox-cover .chev-down{
    fill: rgb(12 111 190);
    width: 1rem;
    height: 1rem;
}

.combobox .operator-div{
    color: rgb(116, 116, 116);
}

.combobox .pill-section .pill-body svg{
    fill: rgb(116, 116, 116);
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.combobox .pill-section {
    position: relative;
    padding: 0;
    padding-right: 3.75rem;
    height: fit-content;
    overflow: hidden;
    padding-top: 0.3rem;
}

.combobox .pill-section ul{
    height: fit-content;
}

.combobox .pill-section .pill-body svg{
    cursor: pointer;
}

.combobox .options-box {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    border: 1px solid var(--slds-g-color-border-base-4, rgb(229, 229, 229));
    border-radius: 0.2rem;
    background-color: white;
    width: 100%;
    max-height: 200px !important;
    overflow: auto;
}

.picklist-search .slds-input-has-icon .slds-input__icon{
    top:0.9rem !important;
}

.combobox .options-box ul li {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    cursor: pointer;
}

.combobox .options-box .picklist-option {
    width:100%;
    padding-right:0.7rem;
}

.combobox .options-box ul li svg{
    fill: black;
    width: 1rem;
    height: 1rem;
}

.combobox .input-delete-cover{
    display: flex;
    gap: 0.5rem;
}

.combobox .input-delete-cover .delete-icon-cover{
    display: flex;
    justify-content: center;
    align-items: center;
}

.combobox .input-delete-cover .delete-icon-cover svg path{
    height: 1rem;
    width: 1rem;
    /* fill: rgb(134,134,134); */
    cursor: pointer;
}

.combobox .input-delete-cover .delete-icon-cover svg path:hover{
    fill: rgb(12 111 190);
}

.combobox .input-delete-cover .plus{
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    border: 0.2px solid rgb(136 129 129);
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: white;
}

.combobox .input-delete-cover .plus svg{
  width: 1rem;
  height: 1rem;
  fill: rgb(12 111 190);
}

.combobox .input-delete-cover .min-max-input-cover{
    width: 100%;
    position: relative;
}

.combobox .min-max-input-div{
    margin-bottom:0.5rem ;
}

.min-max-input-div:hover .up-btn-max-min{
    display: block;
}

.min-max-input-div:hover .down-btn-max-min{
    display: block;
}

.error-message{
    font-size: 0.7rem;
    color: red;
    position: absolute;
    bottom: -1rem;
}   

.combobox .input-delete-cover .min-max-input-cover .error-message{
    bottom: -0.5rem;
}

.custom-logic-section {
    /* padding: 0.5rem; */
    margin: -0.3rem 0.5rem 0rem 0.5rem;
}

.custom-logic-section .input-section{
    display: flex;
    gap: 8px;
}

.custom-logic-section .slds-form-element {
    margin-top: 0.5rem;
}

.custom-logic-section .error-message {
    color: #d4504c;
    font-size: 0.75rem;
    margin-top: 0.25rem;
    position: static;
}

.date-time-div{
    /* padding: 0rem 1rem 0rem 0rem; */
    display: flex;
    margin-bottom: 1rem;
}

.date-time-div .input-wrapper{
    width: 100%;
}

.filter-index-label{
    display: flex;
    align-items: center;
}

.date-time-div .date-input-cover {
    margin-bottom: 0.7rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.date-time-div .delete-icon-cover {
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.up-btn-max-min{
    /* fill: rgb(134,134,134); */
    fill: rgb(12 111 190);
    width: 0.8rem;
    position: absolute;
    right: 0.5rem;
    top: 0.1rem;
    /* display: none; */
    cursor: pointer;
    height: 0.8rem;
    user-select: none;
}

.up-btn-max-min:hover{
    fill:  rgb(134,134,134);
   
}

.down-btn-max-min{
    fill: rgb(12 111 190);
    width: 0.8rem;
    position: absolute;
    right: 0.5rem;
    bottom: 0.6rem;
    /* display: none; */
    cursor: pointer;
    height: 0.8rem;
    user-select: none;
}

.field-add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
}

.field-add-btn .add-btn-cover{
    border: 1px solid #747474;
    border-radius: 0.3rem;
    margin: 1rem;
    cursor: pointer;
    height: 2rem;
    padding: 0rem 0.3rem 0rem 0.3rem;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #0176D3;
}

.field-add-btn .add-btn-cover svg{
    width: 0.7rem;
    height: 0.7rem;
    margin: 0.4rem;
}

.field-add-btn .add-btn-cover svg path{
    fill: #0176D3;
}

.field-add-btn .save-btn-cover{
    border: 1px solid #747474;
    border-radius: 0.3rem;
    margin: 1rem;
    cursor: pointer;
    height: 2rem;
    padding: 0rem 0.4rem 0rem 0.4rem;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #0176D3;
}

.advanced-checkbox{
    display: flex;
}