:host {
  --pdfWidth: 72rem;
  --pdfActualPreviewWidth: calc(var(--pdfWidth) - 18.9rem);
  --ff_Bahnschrift: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  --ff_Montserrat: "Montserrat";
  --ff_Poppins: Poppins;
}

* {
  font-family: 'Mulish';
  user-select: none;
}

.preview_mainDiv {
  width: 100%;
  height: 52rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iframe_outer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.preview_iframe {
  width: 100%;
  height: 100%;
  float: right;
  border: none;
}

.intiImg {
  width: min(20rem, 70%);
  filter: drop-shadow(2px 2px 3px #7b7b7b);
}

.generate_iframe {
  position: absolute;
  z-index: -999999;
  visibility: hidden;
}

.errorMessageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  --designCurveColor: #FF000033;
  --statusIconColor: #FF0000;
}

.popupContainer {
  width: 16rem;
  height: fit-content;
}

.popupBody {
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 0px 35px 0px #00000042;

}

.topDesingSection {
  width: 100%;
  min-height: max-content;
  height: 9rem;
  position: relative;
  overflow: hidden;

}

.curveDesign {
  position: absolute;
  top: -100%;
  left: 0%;
  transform: translate(-5%, 0%);
  width: 110%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--designCurveColor);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2.75rem;
}

.contentSection {
  width: 100%;
  height: 13.5rem;
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.ballDesignIcon {
  width: 4rem;
  height: 4rem;
  stroke: var(--statusIconColor);
}

.titleDiv {
  font-size: 21px;
  text-align: center;
  width: 100%;
  margin-bottom: 0.5rem;
  color: var(--statusIconColor);
}

.titleDiv h2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.messageDiv {
  font-size: 14px;
  text-align: center;
  color: var(--statusIconColor);
  opacity: 85%;
  flex-grow: 1;
  width: 100%;
  margin-bottom: 0.5rem;
}

.messageDiv p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.loadingContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  --documerPageHeight: 17rem;
}

.loadingInfo {
  width: max-content;
  max-width: 94%;
  text-align: center;
  position: absolute;
  top: calc(50% + (var(--documerPageHeight)/2) + 2rem);
  left: 50%;
  transform: translate(-50%, 0px);
  font-size: 20px;
  color: #02afff;
  text-transform: capitalize;
}

.generatePreviewBtn {
  background: #0176D3;
  color: white;
}

.generatePreviewBtn svg {
  width: 18px;
  height: 18px;
  fill: white;
}

.generatePreviewBtn .cls-1 {
  fill: none;
}

.step-container {
  margin: 20px;
}

.template-preview {
  padding: 20px;
  border: 1px solid #d8dde6;
  border-radius: 4px;
  background-color: #f4f6f9;
}

.lightning-button {
  margin-top: 10px;
}

.blue-header {
  background-color: #0176D3;
  color: white;
  border-bottom-style: unset;
}

.body_container {
  padding: 1rem;
  background-color: aliceblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('/resource/MVEX__newImageandMediaBg');
  height: 80%;
}

.edit_modal_footerbtns {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.cancel_btn_css {
  font-size: 14px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  padding: 0px 20px;
  background: #FFFFFF;
  border: 1px solid #0176D3;
  color: #0176D3;
  border-radius: 5px;
}

.save_btn_css {
  font-size: 14px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  border: 1px solid #0176D3;
  padding: 0px 20px;
  background: #0176D3;
  color: white;
  border-radius: 5px;
}

.dropdown_class {
  position: fixed;
  width: 96%;
}

.main_body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media only screen and (max-width: 1440px) {
  .iframe_outer {
    width: 100%;
  }

  .preview_mainDiv {
    height: 41rem !important;
  }
}