.modal-content {
    overflow: hidden;
    padding: 1rem;
    position: relative;
}

.docked-form-footer {
    text-align: right;
    padding-top: 1rem;
}

.headercls {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.contract-preview {
    height: calc(100vh - 25rem);
    overflow: auto;
    background-color: white;
    justify-content: center;
    /* align-items: center; */
    display: flex
;
}