* {
    font-family: 'Mulish';
    user-select: none;
}

.field-wrapper {
    margin-bottom: 1rem;
}

.slds-form-element__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0.25rem;
}

.blue-header {
    background-color: #0176D3;
    color: white;
    border-bottom-style: unset;
}

.slds-modal__footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.section_css {
    display: flex;
    justify-content: center;
    align-items: center;
}

.closs_icon_css {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: -2rem;
    bottom: 0rem;
    background: transparent;
}

.modalbody {
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    background-image: url('/resource/MVEX__newImageandMediaBg');
}

.edit_modal_footerbtns {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cancel_btn_css {
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    padding: 0px 20px;
    background: #FFFFFF;
    border: 1px solid #0176D3;
    color: #0176D3;
    border-radius: 5px;
    cursor: pointer;
}

.save_btn_css {
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    border: 1px solid #0176D3;
    padding: 0px 20px;
    background: #0176D3;
    color: white;
    border-radius: 5px;
}

.content_body {
    max-height: 25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #0170d27d transparent;
    padding-right: 1rem;
    padding-left: 1rem;
}

.slds-gutters_small {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.slds-gutters_small > .slds-col {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

@media only screen and (max-width: 1500px) {
    .content_body {
        max-height: 20rem !important;
    }
}

@media only screen and (max-width: 1300px) {
    .content_body {
        max-height: 15rem !important;
    }
}

@media only screen and (max-width: 800px) {
    .content_body {
        max-height: 18rem !important;
    }
    
    .slds-medium-size_1-of-2 {
        width: 100% !important;
    }
}