* {
    user-select: none;
    font-family: 'Mulish';
}

.btn-div {
    display: flex;
    gap: 16px;
    margin: 16px;
}

.main-div {
    width: calc(100% + 1.5rem);
    height: calc(100% + 1.5rem);
    margin-left: -0.75rem;
    margin-top: -0.75rem;
    background-color: white;
}

.Outer-div {
    padding: 1rem;
    background-color: #E3E5E7;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    background-image: url('/resource/MVEX__newImageandMediaBg/');
    background-position: center;
    background-size: cover;
    position: relative;
}

.message-div {
    position: fixed;
    left: 30%;
    top: 8rem;
}

.heading-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background: white;
    border-radius: 8px;
    border: 1px solid #9B9A9C
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.header-text img {
    height: 35px;
}

.record-div {
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow-y: auto;
    padding: 0.5rem 1rem 1rem 1rem;
    border-radius: 8px;
}

.heading-tag {
    font-size: 24px;
    margin-left: 16px;
    font-weight: 500;
}

.dupli {
    width: 100%;
    height: 30rem;
    background: white;
    padding: 20px;
    border: 1px solid #9B9A9C;
    border-radius: 8px;
}

.title_cls {
    font-size: 20px;
    font-weight: 400;
    color: #505050;
    text-align: left;
    margin-bottom: 4px;
}

.listing-title {
    display: flex;
}

.listing-opener {
    color: #0176D3;
    cursor: pointer;
}

.listing-opener:hover {
    color: #000;
}

.listing-opener:last-child span {
    display: none;
}

.propertyNotAvl {
    margin-top: 80px;
}

.property-heading {
    margin-top: 14px;
    font-size: 15px;
}

.btn {
    padding: 6px 20px;
    font-size: 14px;
    color: #0176D3;
    border: 1px #0176D3 solid;
    font-weight: 400;
    border-radius: 4px;
    background-color: white;
    width: 6rem;
}

.btn:hover {
    background-color: rgb(229, 229, 229);
}

.save-button {
    background-color: #0176D3;
    color: white;
}

.save-button:hover {
    background-color: #0363b3;
}

.custom-grid1 {
    width: 50%;
}

.custom-grid1 .fields-cover {
    padding: 0rem 2rem 2rem 1rem;
}

.custom-grid2 {
    width: 50%;
}

.empty-state {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center
}

.empty-state .empty-state__content {
    font-size: 20px;
    color: #505050;
}

/* listing manger css */

.sort-cover {
    height: 75%;
    border-radius: 0.5rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    margin: 0px 4px;
}

.sort-cover:hover {
    background-color: #2c89d6;
    ;
    transition: 0.5s;
}

.center-trancate-text {
    text-align: center;
    font-size: 13px;
    color: #585858;
}

.center-trancate-head {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    gap: 8px;
}

.tableDiv .slds-table td {
    height: 45px;
}

.tableDiv {
    overflow: auto;
    scroll-behavior: smooth;
    height: 85%;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px 0px #28282840;
}

.tableDiv tbody tr {
    border: none;
}

.tableDiv tbody tr:nth-child(odd) {
    background-color: aliceblue;
}

.tableDiv table tbody tr:hover td {
    background-color: #ebf3f6 !important;
    /* cursor: pointer; */
    border: none;
}

.tableDiv .fields-names {
    position: sticky;
    top: 0;
    z-index: 97;
}

.tableDiv .header-checkbox-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableDiv .list-view-checkbox {
    align-items: center;
    display: flex;
    justify-content: center;
}

.tableDiv .slds-table_resizable-cols thead th {
    padding: 0;
    background: #0376D3;
    color: white;
    font-size: 0.7rem;
    height: 2.5rem;
}

.tableDiv .colume2 {
    width: 9rem;
}

.noresult {
    overflow: auto;
    scroll-behavior: scroll;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noresult .tag1 {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
}

.noresult .tag2 {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
}

.action-mode .slds-icon_container {
    display: none
}

.colume1 {
    width: 3.25rem
}

.imageColume {
    width: 5.25rem
}

.property-image {
    width: 48px;
    height: 3rem;
}

.colume1:hover .slds-icon_container {
    display: block;
    /* transform: rotate(180deg); */
}

.colume2:hover .slds-icon_container {
    display: block;
}

.arrow-down-css svg {
    height: 0.8rem;
    fill: white;
}

.rotate-asc {
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.rotate-desc {
    transform: rotate(180deg);
    transition: transform 0.3s;
}


@media only screen and (max-width: 768px) {
    .div-cover {
        display: flex;
        flex-direction: column;
    }

    .custom-grid1 {
        width: 100%;
    }

    .custom-grid2 {
        width: 100%;
    }

    .heading-tag {
        font-size: 16px;
    }

    .heading-div {
        flex-direction: column;
    }

    .header-text {
        width: 100%;
        justify-content: start;
        padding: 0px 16px;
    }

    .btn-div {
        width: 100%;
        padding: 0px 16px;
        justify-content: end;
    }

}