/* General Fonts & Selection */
* {
    font-family: 'Mulish';
}

.main-card {
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 29%) 0px 4px 12px;
}

/* Header Container Styling */
.filter-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 10px 0px;
    margin-bottom: 1rem;
}

/* Table Container */
.data-table-container {
    max-width: 100%;
    overflow: auto;
    border-radius: 8px;
    border: 1px solid #bcdffa;
}

/* Table Styling */
.custom-data-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.header-cell {
    padding: 12px;
    background-color: #0176D3;
    color: white;
    font-weight: 500;
    text-align: left;
    padding-left: 0.6rem;
    width: 50%;
}

.custom-data-table td {
    padding: 10px;
    text-align: left;
    color: #333;
}

/* Alternating Row Colors */
.custom-data-table tr:nth-child(odd) {
    background-color: aliceblue;
}

.custom-data-table tr:hover {
    background-color: #f4f6f9;
}

/* No Data State */
.no_prop {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: #0076d3;
}