:host {
    display: block;
    width: 100%;
    text-align: center;
    --max-height-of-the-preview-div: 20rem;
}

.main-template-preview-div {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    max-height: var(--max-height-of-the-preview-div, 20rem);
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.template-section-div {
    width: 100%;
    text-align: left;
    padding-inline: 2px;
    white-space: pre-line;
}

.header-image {
    border-radius: 4px;
    margin-block: 8px 6px;
}

.header-video {
    width: 100%;
}

.footer-text {
    font-size: 10px;
    color: darkgray;
}

.button-label-preview {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    background: white;
    border-radius: 4px;
    margin-top: 0.3rem;
    padding: 0.3rem;
    color: #03b1eb;
}

.interactive-action {
    margin-top: 0.4rem;
}

.deleted-template-div {
    font-size: 11px;
    color: darkgray;
    font-weight: 200;
}