@media only screen and (max-width: 500px) {
    .maindiv .slds-input{
        min-height: 1.6rem;
        line-height: 1.6rem;
    }

    .maindiv .slds-button{
        padding-top :0rem;
        padding-bottom : 0rem;
        padding-left : 0rem;
        padding-right :0rem;
        padding-inline: 0.6rem;
        font-size: 0.7rem;
        line-height: 1.8rem;
    }
}