* {
    font-family: 'Mulish';
    user-select: none;
}

.no-data-container {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1rem;
}

.footerbtns {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 0;
}

.blue-header {
    background-color: #0176D3;
    color: white;
    border-bottom-style: unset;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.tableContainer {
    overflow: hidden;
    border-radius: 8px;
}

.order_btn {
    border: 1px solid #0176D3;
    background: #FFFFFF;
    border-radius: 4px;
}

.order_btn_grp {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.editchecklistcss {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
}

.background_css {
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    background-image: url('/resource/MVEX__newImageandMediaBg/');
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

.add-new-btn {
    background-color: #0176D3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
}

.header_container_css {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
    align-items: center;
}

.object_name_css {
    font-size: 24px;
    font-weight: 500;
    line-height: 19.6px;
    text-align: left;
}

.wrap_css {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.padding_css {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error_css {
    border: 2px solid red;
    border-radius: 7px;
    height: 36px;
}

.display_css {
    display: flex;
    flex-direction: row;
}

.save_btn_css {
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    border: 1px solid #0176D3;
    padding: 0px 20px;
    background: #0176D3;
    color: white;
    border-radius: 5px;
}

.cancel_btn_css {
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    padding: 0px 20px;
    background: #FFFFFF;
    border: 1px solid #0176D3;
    color: #0176D3;
    border-radius: 5px;
}

.main_tr_class {
    position: sticky;
    top: 0;
    z-index: 999;
}

.empty-state {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-state__content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.empty-state__content .empty-state__icon {
    width: 25%;
    height: 100%;
}

.empty-state__content .empty-state__message {
    color: #3a9bea;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0.85rem;
}

.closs_icon_css {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: -2rem;
    bottom: 0rem;
    background: transparent;
}

.table-content table tbody tr:hover td {
    background-color: #ebf3f6 !important;
    /* cursor: pointer; */
    border: none;
}

.table-content {
    border-radius: 8px;
    background: white;
    overflow: auto;
    scroll-behavior: smooth;
    max-height: 26rem;
    scrollbar-width: thin;
    scrollbar-color: #0170d27d transparent;
}

.table-content .slds-table th {
    background-color: #0176D3;
    color: white;
    padding: 0.6rem;
    height: 45px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.01em;
}

.table-content .slds-table td {
    /* padding: 0.4rem; */
    height: 45px;
}

.delete-div {
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

.delete-div:hover svg {
    fill: #ff0707a8;
}

.delete-div:hover svg path {
    fill: #ff0707a8;
}

.table-content tbody tr:nth-child(odd) {
    background-color: aliceblue;
}

.table-content table thead tr {
    position: sticky;
    top: 0;
    z-index: 99;
}

.table-content thead .value,
.table-content thead .fieldname,
.table-content thead .description{
    min-width: 10rem;
}