.customSetTimeout{
  width: 0px;
  height: 0px;
}
.customSetTimeout.setTimeAnimation{
  animation: dummyAnimation var(--timeoutTime) linear 0s 1 forwards normal;
}
@keyframes dummyAnimation{ to{ width: 0px; } };